<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/vendor/bootstrap4.4/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cdndte.s3.amazonaws.com/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="https://cdndte.s3.amazonaws.com/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cdndte.s3.amazonaws.com/stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="https://cdndte.s3.amazonaws.com/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdndte.s3.amazonaws.com/stylesheets/style.css">
    <!--===============================================================================================-->
</head>

<body>
