<% include login_up %>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-22">
                    ¿Olvidaste La Contraseña?
                </span>

                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Correo Electrónico">
                </div>
                <div class="m-4">
                    <button class="btn btn-primary btn-block btn-lg">
                        Verificar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<%include login_bot%>

<script>
    $(document).ready(function () {
        console.log("hola mamá, estoy usando jquery");
    })
</script>

<%include login_bot_2%>